@model IEnumerable<Category>

<h2>Categories</h2>

<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>ProductCount</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        @foreach (Category item in Model) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ProductCount</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete"
                        asp-route-id="@item.Id"
                        method="post"
                        onsubmit="return confrim('are you shure?')">
                        
                        <button type="submit" class="btn-btn-secondary">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
