@model IEnumerable<Product>

<h2>Наші товари</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<a asp-action="Create" class="btn btn-primary">Додати новий</a>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Категорія</th>
            <th>Ціна</th>
            <th>Опис</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product item in Model) {
            <tr>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Description</td>
                <td>
                    <form asp-action="Delete"
                          asp-route-id="@item.ProductId"
                          method="post"
                          onsubmit="return confirm('Are you sure?');">
                        
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>